@font-face {
    font-family: 'BaliviaFreeBold';
    src: url('/fonts/BaliviaFreeBold.ttf') format('truetype');
  }
  .blue {
    color: #5277ac;
  }
.fondorojo{
    background-image: url("images/yssAsset%204.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 1200px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.encabezado{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-content: center;
       
}
/* HEADER ------------------------------------ */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
    color: white;
    align-content: center;
    padding-top: 5%;

  }
  .nav-menu {
    display: flex;
    color: #ffffff;
    background-color: #5277ac;
    flex: 2; 
    border-radius: 45px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50%;
    flex-grow: 2;
    list-style: none;
    flex-shrink: 0;
    margin: 0 20px; 
    opacity: 0.8;

}
.nav-menu li + li{ 
    margin-left: 10px;
}
.nav-menu a {
    display: flex;
    color: white;
    font-size: 35px;
    margin: auto;
    justify-content: center;
    text-decoration: none;
    flex-grow: 2;
}


.logo {
    display: flex;
    flex-grow: 1;
    width: 15%;

}
.shop{
    display: flex;
    flex-grow: 1;
    width: 15%;
    align-items: center;
    justify-content: center;
}
/* FIN HEADER ------------------------------------ */

/* SECCIONES ------------------------------------ */
.primerseccion {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    
    max-height: max-content;
    flex-direction: column;
  }
.segundaseccion {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url("images/ysAsset%201.png");
    height: 1400px;
    position: relative;
}
.parrafo {
    order: 1;
    font-family: 'BaliviaFreeBold', sans-serif;
    font-size: 40px;
    color: #ef4136;
    white-space: pre-line;
    margin-left: 10px;
    align-self: center;
    justify-content: center;
    
  }
#bandera{
    order: 0;
    display: flex;
    align-self: flex-start;
    margin-right: 10px;
    padding-top: 15%;
        
}
#juega{
    order: 2;
    display: flex;
    align-self: center;
    margin-right: 10px;
    padding-bottom: 15%;    
}
.tercerseccion{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    width: 100%;
    height: 1400px;
    position: relative;    
    box-sizing: border-box;
}
#ninos{
    display: block; 
    max-width: 100%; 
    height: auto; 
    position: absolute; 
    z-index: -1; 
    top: -500px; 
    left: 0; 
}
#onda{
    display: block;
    padding-top: 85%;
    width: 1889px; 
    height: auto; 
    box-sizing: border-box;
}
.cuartaseccion{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 15%;
    align-items: baseline;
    background-color: #5277ac;
    max-height: max-content;
    flex-direction: row;
    flex-wrap: wrap;
}

/* ------- PRoductos -------- */
.carousel {
    width: 100%;
    overflow: hidden;
    max-width: 100%;
    .carousel__wrapper{
        display: flex;
        width: 100%;
        margin-right: -16px;
        margin-left: -16px;
    }
  }
  .carousel__item {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    scroll-snap-align: start;
    margin-right: 16px;
  }
  .carousel__container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: transform 0.4s ease-in-out;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  
  .carousel__nav {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    width: 250px; /* ajusta el ancho de los botones de navegación */
  }
  
  .carousel__nav button {
    background-color: #007bff;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    padding: 5px;
    width: 100px;
  }
.product-row {
    display: flex;
  }
.product-card {
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: center;
    margin: 10px;
    width: 280px;
    position: relative;  
  }
  
  .product-img-container {
    height: 500px;
    border-radius: 15px;
    position: relative;  
  }
  
  .product-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  .product-img-container h3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    margin: 0;
    color: transparent; 
    transition: color 0.5s ease; 
  }
  .product-img-container:hover h3 {
    color: #fff; 
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); 
  }

  .product-details-container {
    padding: 10px;
    text-align: justify;
  }
  
  .product-details-container h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #ef4136;
  }
  .product-details-container h3:hover {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #007bff;
  }
  .product-details-container p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .add-to-cart-container{
    position: absolute; 
    right: 0; 
    bottom: -30px; 
  }
  
  .add-to-cart-container button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .add-to-cart-container button:hover {
    background-color: #0069d9;
  }




/* --------------------------------------- */

h2{
    display: flex;
    font-family: 'BaliviaFreeBold', sans-serif;
    font-size: 60px;
    color: #ffffff;
    flex-grow: 1;
    justify-content: center;
}
.bold {
    font-weight: bold;
    font-size: 60px;
    font-weight: 900;
    color: #ef4136;
 }
 #infancias{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-right: 10px;
    padding-top: 15%;
    
 }
#anuncio{
    
    position: relative;
}

